.page-content {
    text-align: center;
    margin-top: 53px;
}

.dailyQuestionDiv {
    justify-content: center;
    display: flex;
    padding: 10px;

}

.dailyQuestionDiv button {
    margin-left: 20px;
    margin-right: 20px;
}

.video-content {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
}

.video-info {
    text-align: left;
    margin-bottom: 10px;
}

.video-wrapper {
    display: flex;
}

.action-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: column;
}

iframe {
    width: 100%;
    height: 600px;
    border-radius: 15px;
    border: 0px;
}

.comments{
    font-size: 14px;
    margin-top: 10px;
}