.left {
    float: left;
    width: 50%;
    background-color: black;
    text-align: center;
}

.right {
    float: right;
    width: 49%;
}

iframe {
    height: 100vh;
    width: 100%;
    border: 0px;
}

.comment-div{
    margin-top: 20px;
}

.comment-user{
    display: flex;
    margin-bottom: -10px;

}

.comment-user img{
    width: 40px;
    height: 40px;
}

.comment-user p{
    margin-left: 10px;
    margin-top: 2px;
}

.comment-text{
    margin-left: 50px;
}